﻿<%@ Master Language="C#" AutoEventWireup="true" CodeFile="General.master.cs" Inherits="Teleorthodontics.Web.GeneralMasterPage" %>
<%@ Register Src="~/CustomControls/Header.ascx" TagPrefix="uc1" TagName="Header" %>
<%@ Register Src="~/CustomControls/Footer.ascx" TagPrefix="uc1" TagName="Footer" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="<asp:Literal runat="server" Text="<%$ Resources:general1%>" />" xml:lang="<asp:Literal runat="server" Text="<%$ Resources:general1%>" />">
    <head runat="server">
        <asp:ContentPlaceHolder ID="title" runat="server">
        </asp:ContentPlaceHolder>
        
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <asp:ContentPlaceHolder ID="head" runat="server">
        </asp:ContentPlaceHolder>
        
        <meta http-equiv="content-type" content="text/html;charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="author" content="Dr. Mark Kurchak">

        <meta name="language" content="<asp:Literal ID="Literal2" runat="server" Text="<%$ Resources:general2%>" />" />
        
        <!-- Bootstrap Core CSS -->
        <link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

        <!-- Custom Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">

        <!-- Plugin CSS -->
        <link rel="stylesheet" href="/lib/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="/lib/simple-line-icons/css/simple-line-icons.css">
        <link rel="stylesheet" href="/lib/device-mockups/device-mockups.min.css">

        <!-- Theme CSS -->
        <link rel="stylesheet" href="/css/main_<asp:Literal ID="Literal1" runat="server" Text="<%$ Resources:general1%>" />.css" type="text/css" media="screen" />

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body <asp:ContentPlaceHolder ID="bodyattributes" runat="server"></asp:ContentPlaceHolder>>
        <form id="form" runat="server">
            <asp:ScriptManager runat="server">
                <Scripts>
                    <%--To learn more about bundling scripts in ScriptManager see http://go.microsoft.com/fwlink/?LinkID=272931&clcid=0x409 --%>
                
                </Scripts>
            </asp:ScriptManager>
        </form>
        <!-- Header Section -->
        <uc1:Header runat="server" ID="Header" />
        <!-- End Header  -->
        <asp:ContentPlaceHolder ID="ContentPlaceHolderBody" runat="server">
        </asp:ContentPlaceHolder>
        <!-- Footer -->
        <uc1:Footer runat="server" ID="Footer" />
        <!-- Footer -->
    </body>
</html>
