﻿<%@ Page Language="C#" MasterPageFile="~/MasterPages/General.Master" AutoEventWireup="true" CodeFile="faq.aspx.cs" Inherits="Teleorthodontics.Web.faq" Culture="Auto" UICulture="Auto" %>
<asp:Content ID="Content1" ContentPlaceHolderID="bodyattributes" runat="server">
	id="contact"
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="title" runat="server">
	<title><asp:Literal ID="Literal1" runat="server" Text="<%$ Resources:title%>" /></title>
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="head" runat="server">
    <meta name="description" content="<asp:Literal ID="Literal2" runat="server" Text="<%$ Resources:metadescription%>" />" />
</asp:Content>
<asp:Content ID="Content4" ContentPlaceHolderID="ContentPlaceHolderBody" runat="server">
	<section id="contact-section" class="contact bg-primary">
	   	<div class="container">
		    <h2><asp:Literal ID="Literal3" runat="server" Text="<%$ Resources:faq1%>" /></h2>
		    

		</div>
	</section>
</asp:Content>
