/*!
 * Start Bootstrap - New Age v3.3.7 (http://startbootstrap.com/template-overviews/new-age)
 * Copyright 2013-2016 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
 */
header .header-content .header-content-inner h1 {
  font-size: 35px;
  color: #089de3;
}
header #header-iphonegirl {
  background: url(../img/iphone-hand.png) center no-repeat;
  background-size: 75%;
  padding: 180px 0;
}
#orthodonticsteps #smileanalysis {
  white-space: normal;
}
.homepage #take-impression{
  background: url(../img/take-impression.png) center no-repeat;
  background-size: 100%;
  width: 207px;
  height: 83px;
  display: inline-block;
  margin-bottom: -3px;
}
#whats-included #take-impression{
  margin-bottom: 0;
}
#whats-included #service-list h3 span{
  display: block;
  color: #089de3;
  font-weight: 500;
}
#whats-included #treatment-options h3 span{
  color: #f89b40;
}
#learnmoreoninternet2a {
  display: none;
}
#learnmoreoninternet10,
#learnmoreoninternet11,
#learnmoreoninternet12,
#learnmoreoninternet13,
#learnmoreoninternet14,
#learnmoreoninternet15,
#learnmoreoninternet16,
#learnmoreoninternet17,
#learnmoreoninternet18 {
  display: block;
  width: 285px;
  margin: 10px auto;
}
#learnmoreoninternet10:hover,
#learnmoreoninternet11:hover,
#learnmoreoninternet12:hover,
#learnmoreoninternet13:hover,
#learnmoreoninternet14:hover {
  background-color: #f89b40;
  border-color: #f89b40;
}
@media (min-width: 140px) {
  .homepage .header-content #header-chunk a.btn {
    white-space: normal;
  }
}
@media (min-width: 385px) {
  header #header-iphonegirl {
    padding: 245px 0;
  }
}
@media (min-width: 515px) {
  header #header-iphonegirl {
    padding: 300px 0;
  }
}
@media (min-width: 615px) {
  header #header-iphonegirl {
    padding: 375px 0;
  }
  .homepage .header-content #header-chunk a.btn {
    white-space: nowrap;
  }
}
.homepage .navbar-default .navbar-toggle:focus, .homepage .navbar-default .navbar-toggle:hover {
    background-color: #fff;
}
.homepage .navbar-default .navbar-toggle.collapsed:focus, .homepage .navbar-default .navbar-toggle.collapsed:hover {
    background: none;
}
.navbar-default .navbar-toggle {
    border: none;
}
#language-wrapper{
    display: inline-block;
    padding-left: 10px;
}
#current-language{
    display: inline-block;
    list-style: none;
    position: absolute;
    top: 6px;
    color: rgba(255, 255, 255, 0.7);
    text-decoration: none;
    padding: 0 10px;
    width: 140px;
    display: block;
}
.navbar-default.affix #current-language{
  color: #222222;
}
#current-language:hover,
.logo-and-mobile-area a:hover
{
    color: white;
}
.navbar-default.affix .logo-and-mobile-area {
    color: #089de3;
}
.navbar-default.affix .logo-and-mobile-area a{
    color: #222222;
}
.navbar-default.affix .logo-and-mobile-area a:hover{
    color: #089de3;
}
.navbar-default.affix #current-language:hover{
  color: #089de3;
}
.logo-and-mobile-area {
    display: none;
    list-style: none;
    position: absolute;
    top: 42px;
    background: #089de3;
    padding: 5px 10px;
}
.navbar-default.affix .logo-and-mobile-area{
    background: white;
}
.logo-and-mobile-area a{
    color: rgba(255, 255, 255, 0.7);
    text-decoration: none;
    padding-right: 5px;
    width: 120px;
    display: block;
}

.heading-font {
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 200;
  letter-spacing: 1px;
}
.body-font {
  font-family: 'Muli', 'Helvetica', 'Arial', 'sans-serif';
}
.alt-font {
  font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
  text-transform: uppercase;
  letter-spacing: 2px;
}
html,
body {
  height: 100%;
  width: 100%;
}
body {
  font-family: 'Muli', 'Helvetica', 'Arial', 'sans-serif';
}
a {
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
  color: #089de3;
}
a:hover,
a:focus {
  color: #fcbd20;
}
hr {
  max-width: 100px;
  margin: 25px auto 0;
  border-width: 1px;
  border-color: rgba(34, 34, 34, 0.1);
}
hr.light {
  border-color: white;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 200;
  letter-spacing: 1px;
}
p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
}
.navbar-default {
  /*background-color: white;*/
  background: #089de3;
  border-color: rgba(34, 34, 34, 0.05);
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 200;
  letter-spacing: 1px;
}
.navbar-default.affix{
  background: #fff;
}
.navbar-default .navbar-header .navbar-brand {
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 200;
  letter-spacing: 1px;
  color: #089de3;
  background: url(../img/teleorthodontics-ch-logo-orange.png) 1px no-repeat;
  width: 300px;
  background-size: 100%;
  padding: 5px;
  margin-left: 15px;
}
.affix.navbar-default .navbar-header .navbar-brand{
  background: url(../img/teleorthodontics-ch-logo-blue.png) 1px no-repeat;
  background-size: 100%;
}
.navbar-default .navbar-header .navbar-brand:hover,
.navbar-default .navbar-header .navbar-brand:focus {
  color: #fcbd20;
}
.navbar-default .navbar-header .navbar-toggle {
  /*font-size: 12px;*/
  /*color: #222222;*/
  /*padding: 8px 10px;*/
  font-size: 35px;
  color: #f89b40;
  padding: 0 10px;
  margin: 0 15px 0 0;
  height: 50px;
}
.navbar-default.affix .navbar-header .navbar-toggle {
  color: #0f75bc;
}
.navbar-default .nav > li > a {
  font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 11px;
}
.navbar-default .nav > li > a,
.navbar-default .nav > li > a:focus {
  /*color: #222222;*/
  color: rgba(255, 255, 255, 0.7);
}
.navbar-default .nav > li > a:hover,
.navbar-default .nav > li > a:focus:hover {
  color: white;
}
.navbar-default.affix .nav > li > a,
.navbar-default.affix .nav > li > a:focus {
  color: #222222;
}
.navbar-default.affix .nav > li > a:hover,
.navbar-default.affix .nav > li > a:focus:hover {
  /*color: white;*/
  color: #089de3;
}
.navbar-default .nav > li.active > a,
.navbar-default .nav > li.active > a:focus {
  color: #089de3 !important;
  background-color: transparent;
}
.navbar-default.affix-top .nav > li.active > a,
.navbar-default.affix-top .nav > li.active > a:focus {
  color: #fff!important;
  background-color: transparent;
}
.navbar-default .nav > li.active > a:hover,
.navbar-default .nav > li.active > a:focus:hover {
  background-color: transparent;
}

#pricing.pricing {
  background: #dcf0f9;
  color: #089de3;
}
#pricing .timeline {
  list-style: none;
  padding: 0;
  position: relative;
  min-height: 350px;
}
#pricing .timeline>li {
  margin-bottom: 50px;
  position: relative;
  min-height: 50px;
}
#pricing .timeline>li:after {
  clear: both;
}
#pricing .timeline>li:after, .timeline>li:before {
  content: " ";
  display: table;
}
#pricing .timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: "";
  width: 2px;
  background-color: #f1f1f1;
  left: 40px;
  margin-left: -1.5px;
}
#pricing .timeline>li .timeline-image {
  left: 0;
  margin-left: 0;
  width: 80px;
  height: 80px;
  position: absolute;
  z-index: 100;
  background-color: #089de3;
  color: #fff;
  border-radius: 100%;
  border: 7px solid #f1f1f1;
  text-align: center;
  top: 155px;
}
#pricing .timeline>li .timeline-panel {
  width: 100%;
  float: right;
  padding: 0 20px 0 100px;
  position: relative;
  text-align: left;
}
#pricing .timeline>li .timeline-panel.inverted{
  float: right;
  text-align: left;
  margin-top: 70px;
}
#pricing .timeline-heading h4{
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
}
#pricing .timeline-heading h4#left-pricing {
  min-height: 51px;
}
#pricing .timeline-heading h4 span{
  font-size: 12px;
  display: block;
}
#pricing .timeline>li .timeline-panel, 
#pricing .timeline>li.timeline-inverted>.timeline-panel {
  top:60px;
}
#pricing .timeline-image .or{
  top: 50%;
  position: relative;
  margin: 0;
  margin-top: -14px;
}
#registration-wrapper {
    background: #dcf0f9;
    color: #089de3;
}
#registration-wrapper h1{
    font-size: 50px;
}
#registration-wrapper h2{
    font-size: 45px;
}
#registration-wrapper #lblFirstName,
#registration-wrapper #lblLastName,
#registration-wrapper #lblEmail,
#registration-wrapper #lblphone,
#registration-wrapper #lblDOB,
#registration-wrapper #lblGender{
    text-align: right;
    padding-left: 0;
}
#registration-wrapper input[type=file] {
    margin: 0 auto;
    width: 250px;
}
#registration-wrapper #dvSecond table{
    text-align: left;
}
#registration-wrapper #dvSecond textarea{
    margin: 0 auto;
}
#registration-wrapper #dvSecond #captchawrapper{
    float:none;
    margin: 0 auto;
    margin-bottom: 25px;
}
#registration-wrapper #dvSecond #radioquestions{
    float: none;
    margin: 0 auto;
}
#contact #cinfo-pt {
    background: url(../img/cinfo-pt.png) 1px no-repeat;
    width: 450px;
    height: 350px;
    margin: 0 auto;
}
@media (max-width: 435px) {
    #contact #cinfo-pt {
        background-size: contain;
        width: 280px;
        height: 220px;
        margin: 0 auto;
    }
}
@media (min-width: 768px) {
  .navbar-default {
    /*background-color: transparent;*/
    background: #089de3;
    border-color: transparent;
  }
  .navbar-default .navbar-header .navbar-brand {
    color: rgba(255, 255, 255, 0.7);
    margin-left: 0;
  }
  .navbar-default .navbar-header .navbar-brand:hover,
  .navbar-default .navbar-header .navbar-brand:focus {
    color: white;
  }
  .navbar-default .nav > li > a,
  .navbar-default .nav > li > a:focus {
    color: rgba(255, 255, 255, 0.7);
  }
  .navbar-default .nav > li > a:hover,
  .navbar-default .nav > li > a:focus:hover {
    color: white;
  }
  .navbar-default.affix {
    background-color: white;
    border-color: rgba(34, 34, 34, 0.1);
  }
  .navbar-default.affix .navbar-header .navbar-brand {
    color: #222222;
  }
  .navbar-default.affix .navbar-header .navbar-brand:hover,
  .navbar-default.affix .navbar-header .navbar-brand:focus {
    color: #089de3;
  }
  .navbar-default.affix .nav > li > a,
  .navbar-default.affix .nav > li > a:focus {
    color: #222222;
  }
  .navbar-default.affix .nav > li > a:hover,
  .navbar-default.affix .nav > li > a:focus:hover {
    color: #089de3;
  }

  #pricing .timeline {
    min-height: 280px;
  }
  #pricing .timeline:before {
    left: 50%;
  }
  #pricing .timeline>li {
    margin-bottom: 100px;
    min-height: 100px;
  }
  #pricing .timeline>li .timeline-image {
    width: 100px;
    height: 100px;
    left: 50%;
    margin-left: -50px;
    top: 75px;
    /*left: 0;*/
    /*margin-left: 0;*/
    /*width: 80px;*/
    /*height: 80px;*/
    position: absolute;
    z-index: 100;
    background-color: #089de3;
    color: #fff;
    border-radius: 100%;
    border: 7px solid #f1f1f1;
    text-align: center;
    top: 75px;
  }
  #pricing .timeline>li .timeline-panel {
    width: 41%;
    float: left;
    padding: 0 20px 20px 30px;
    text-align: right;
  }
  #pricing .timeline>li.timeline-inverted>.timeline-panel {
    float: right;
    text-align: left;
    padding: 0 30px 20px 20px;
  }
  #pricing .timeline>li .timeline-panel.inverted {
    margin-top: 0;
  }
}
header {
  position: relative;
  width: 100%;
  min-height: auto;
  overflow-y: hidden;
  background: #dcf0f9;
  
  color: white;
}
header .header-content {
  text-align: center;
  padding: 150px 0 50px;
  position: relative;
}
header .header-content .header-content-inner {
  position: relative;
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
}
header .header-content .header-content-inner h1 {
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 30px;
}
header .header-content .header-content-inner .list-badges {
  margin-bottom: 25px;
}
header .header-content .header-content-inner .list-badges img {
  height: 50px;
  margin-bottom: 25px;
}
header .device-container {
  max-width: 300px;
  margin: 0 auto 100px;
}
header .device-container .screen img {
  border-radius: 3px;
}
@media (min-width: 768px) {
  header {
    min-height: 74%;
  }
  header .header-content {
    text-align: left;
    padding: 0;
    /*height: 100vh;*/
    height: 27vh;
  }
  header .header-content .header-content-inner {
    max-width: none;
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  header .header-content #header-chunk{
    top:70px;
    transform: initial;
  }
  header #header-iphonegirl{
    background: url(../img/iphone-girl.png) -15px center no-repeat;
    background-size: 100%;
    padding: 227px 0;
  }
  header .header-content .header-content-inner h1 {
    font-size: 35px;
    color: #089de3;
  }
  header .device-container {
    max-width: none;
    max-height: calc(0vh);
    margin: 100px auto 0;
  }
}
@media (min-width: 992px) {
  
  header {
      min-height: 80%;
  }
  header #header-iphonegirl{
    padding: 294px 0;
    margin-top: 60px;
  }
  header .header-content {
    height: 39vh;
  }
  header .header-content .header-content-inner h1 {
    font-size: 50px;
  }
  #pricing .timeline>li {
    min-height: 150px;
  }
  #pricing .timeline>li .timeline-image {
    width: 150px;
    height: 150px;
    margin-left: -75px;
    top: 60px;
  }
  #pricing .timeline>li .timeline-panel, 
  #pricing .timeline>li.timeline-inverted>.timeline-panel {
    padding: 0 20px 20px;
  }

}
section {
  padding: 100px 0;
}
section h2 {
  font-size: 50px;
}
section.download {
  padding: 150px 0;
  position: relative;
}
section.download h2 {
  margin-top: 0;
  font-size: 50px;
}
section.download .badges .badge-link {
  display: block;
  margin-bottom: 25px;
}
section.download .badges .badge-link:last-child {
  margin-bottom: 0;
}
section.download .badges .badge-link img {
  height: 60px;
}
@media (min-width: 768px) {
  section.download .badges .badge-link {
    display: inline-block;
    margin-bottom: 0;
  }
}
@media (min-width: 768px) {
  section.download h2 {
    font-size: 55px;
  }
  section.download {
    padding: 115px 0;
  }
}
section.features .section-heading {
  margin-bottom: 100px;
}
section.features .section-heading h2 {
  margin-top: 0;
}
section.features .section-heading p {
  margin-bottom: 0;
}
section.features .device-container,
section.features .feature-item {
  max-width: 300px;
  margin: 0 auto;
}
section.features .device-container {
  margin-bottom: 100px;
}
@media (min-width: 992px) {
  section.features .device-container {
    margin-bottom: 0;
  }
  section.download {
    padding: 150px 0;
  }
}
section.features .feature-item {
  text-align: center;
  margin-bottom: 100px;
}
section.features .feature-item h3 {
  font-size: 30px;
}
section.features .feature-item i {
  font-size: 80px;
  background: #089de3;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media (min-width: 992px) {
  section.features .device-container,
  section.features .feature-item {
    max-width: none;
  }
}
section.cta {
  position: relative;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: center;
  background-image: url('../img/bg-cta.jpg');
  padding: 250px 0;
}
section.cta .cta-content {
  position: relative;
  z-index: 1;
}
section.cta .cta-content h2 {
  margin-top: 0;
  margin-bottom: 25px;
  color: white;
  max-width: 450px;
  font-size: 50px;
}
@media (min-width: 768px) {
  section.cta .cta-content h2 {
    /*font-size: 80px;*/
    font-size: 55px;
  }
}
section.cta .overlay {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
}
section.contact {
  text-align: center;
}
section#contact-section{
  background: #dcf0f9;
  color: #089de3;
}
#contact #contact-form {
  color:#757575;
}
#contact #contact-form textarea:focus,
#contact #contact-form input:focus,
#contact #contact-form select:focus{
    outline: none;
}
#contact #contact-form .field{
  margin-left: -10px;
}
#contact #contact-form input,
#contact #contact-form select,
#contact #contact-form textarea{
  border: 1px solid #089de3;
  padding: 15px;
  max-width: 360px;
  width: 100%;
  border-radius: 10px;
  margin: 5px 10px;
}
#contact #contact-form #subject{
  color:#757575;
  padding-left: 11px;
}
#contact-form label.required.star{
  text-align: left;
  display: block;
  color: #C00;
  position: relative;
  left: 20px;
  font-size: 15px;
  top: 48px;
}
@media (min-width: 429px) { 
  #contact-form label.required.star{
    display: inline-block;
    text-align: center;
    color: #C00;
    position: relative;
    left: 27px;
    font-size: 15px;
    top: 2px;
  }
  #contact #contact-form label.message.required.star{
    top:-11px;
  }
}

section.contact h2 {
  margin-top: 0;
  margin-bottom: 25px;
}
section#treatment-options .feature-item i {
  font-size: 80px;
  background: #f89b40;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#whats-included section#treatment-options h2 {
  margin-bottom: 0;
  margin-top: 0;
  margin-bottom: 25px;
}
section.contact h2 i {
  color: #dd4b39;
}
section.contact ul.list-social {
  margin-bottom: 0;
}
section.contact ul.list-social li a {
  display: block;
  height: 80px;
  width: 80px;
  line-height: 80px;
  font-size: 40px;
  border-radius: 100%;
  color: white;
}
section.contact ul.list-social li.social-twitter a {
  background-color: #1da1f2;
}
section.contact ul.list-social li.social-twitter a:hover {
  background-color: #0d95e8;
}
section.contact ul.list-social li.social-facebook a {
  background-color: #3b5998;
}
section.contact ul.list-social li.social-facebook a:hover {
  background-color: #344e86;
}
section.contact ul.list-social li.social-google-plus a {
  background-color: #dd4b39;
}
section.contact ul.list-social li.social-google-plus a:hover {
  background-color: #d73925;
}
#smile-analysis ul.list-social li a i:before{line-height: 80px;}
footer {
  background-color: #222222;
  padding: 25px 0;
  color: rgba(255, 255, 255, 0.3);
  text-align: center;
}
footer p {
  font-size: 12px;
  margin: 0;
}
footer ul {
  margin-bottom: 0;
}
footer ul li a {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.3);
}
footer ul li a:hover,
footer ul li a:focus,
footer ul li a:active,
footer ul li a.active {
  text-decoration: none;
}
.bg-primary {
  background: #089de3;
  background: -webkit-linear-gradient(#089de3, #0082bf);
  background: linear-gradient(#089de3, #0082bf);
}
.text-primary {
  color: #089de3;
}
.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}
.btn-outline {
  /*color: white;
  border-color: white;
  border: 1px solid;*/
  background: #fff;
  border: 1px solid #089de3;
  color: #089de3;
}
.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active,
.btn-outline.active {
  color: white;
  background-color: #089de3;
  border-color: #089de3;
}
.btn {
  font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
  text-transform: uppercase;
  letter-spacing: 2px;
  border-radius: 300px;
}
.btn-xl {
  padding: 15px 45px;
  font-size: 11px;
}
.learnmoreoninternet {
  padding: 15px;
}
::-moz-selection {
  color: white;
  text-shadow: none;
  background: #222222;
}
::selection {
  color: white;
  text-shadow: none;
  background: #222222;
}
img::selection {
  color: white;
  background: transparent;
}
img::-moz-selection {
  color: white;
  background: transparent;
}
body {
  webkit-tap-highlight-color: #222222;
}
@media (min-width: 1200px) {
  header {
      min-height: 100%;
  }
  header .header-content .header-content-inner h1 {
      font-size: 50px;
  }
  header #header-iphonegirl {
      padding: 354px 0;
  }
  header .header-content {
    height: 34vh;
  }
  section.download h2 {
    font-size: 70px;
  }
}
@media (max-width: 1200px) {
  .learnmoreoninternet {
    padding: 10px;
  }
  #pricing .learnmoreoninternet1price {
    margin-left: 195px;
  }
  #pricing .learnmoreoninternet2price {
    display: block;
  }
  #learnmoreoninternet2 {
      display: none;
  }
  #learnmoreoninternet2a {
    display: inline-block;
  }
}

@media (max-width: 1199px) {
  #pricing .timeline-heading h4#left-pricing {
      min-height: 51px;
  }
}

@media (max-width: 993px) {
  #learnmoreoninternet2a {
    display: inline-block;
  }
  #learnmoreoninternet2 {
    display: none;
  }
  .learnmoreoninternet{
      padding: 15px;
  }
  .learnmoreoninternet1price,
  .learnmoreoninternet2price {
    display: block;
  }
}
@media (max-width: 991px) {
    header #header-iphonegirl {
       margin-top: 30px; 
    }
    #pricing .learnmoreoninternet1price {
        margin-left: initial;
    }
    #pricing .timeline-heading h4#left-pricing {
        min-height: 70px;
    }
}

@media (max-width: 990px) {
  #learnmoreoninternet2a {
    margin-right: initial;
  }
}
@media (max-width: 768px) {
    #language-wrapper {
        margin-left: 300px;
    }
    #how-it-works .timeline>li .timeline-panel.inverted {
        margin-top: 0px;
    }
    #how-it-works .timeline>li .timeline-image {
        top: 50px;
    }
    #how-it-works #learnmore {margin-top: 50px;}
    .homepage .header-content #header-chunk a.btn {
        white-space: unset;
    }
}

@media (max-width: 767px) {
    #pricing .timeline-heading h4#left-pricing {
        min-height: initial;
    }
    #pricing .timeline>li .timeline-image {
        top: 190px;
    }
}

@media (max-width: 530px) {
    .navbar-header{
        text-align: center;
    }
    .navbar-default .navbar-header .navbar-brand{
        margin-right: 92px;
        margin-left: 92px;
        float: none;
        display: inline-block;
    }
    #language-wrapper {
        margin-left: 0px;
    }
    #current-language{
        padding-left: 0px;
    }
    section.contact {
        padding-top: 150px;
    }
}
@media (max-width: 490px) {
    .navbar-default .navbar-header .navbar-brand {
        margin-right: 72px;
        margin-left: 72px;
    }
}
@media (max-width: 445px) {
    .navbar-default .navbar-header .navbar-brand {
        margin-right: 44px;
        margin-left: 44px;
    }
}
@media (max-width: 390px) {
    .navbar-default .navbar-header .navbar-brand {
        margin-right: 14px;
        margin-left: 14px;
    }
    .learnmoreoninternet {
        white-space: unset;
    }
    #how-it-works #learnmore {
        white-space: unset;
    }
}
@media (max-width: 375px) {
    #learnmoreoninternet10,
    #learnmoreoninternet11,
    #learnmoreoninternet12,
    #learnmoreoninternet13,
    #learnmoreoninternet14,
    #learnmoreoninternet15,
    #learnmoreoninternet16,
    #learnmoreoninternet17,
    #learnmoreoninternet18 {
        width: initial;
        white-space: unset;
    }
    .homepage .cta a.btn {
      white-space: unset;
    }
}

@media (max-width: 335px) {
    .navbar-default .navbar-header .navbar-brand {
        margin-right: 0;
        margin-left: 0;
    }
}